@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Ubuntu&display=swap");
.bg-sidebar {
  background-image: url(/assets/images/bg-sidebar-desktop.svg);
}

.w-sidebar {
  min-width: 274px;
}
.h-sidebar {
  height: 568px;
}
.font-ubuntu {
  font-family: Ubuntu;
}

.bg-light-blue {
  background-color: hsl(206, 94%, 87%);
}
